<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LeeGyuRimProj2</display-name>
  <servlet>
    <servlet-name>HELLO-SERVLET</servlet-name>
    <servlet-class>controller.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HELLO-SERVLET</servlet-name>
    <url-pattern>/HelloServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CALCULATOR-SERVLET</servlet-name>
    <servlet-class>controller.CalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CALCULATOR-SERVLET</servlet-name>
    <url-pattern>/Calculator.nhn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CONTENT-TYPE</servlet-name>
    <servlet-class>controller.ContentTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CONTENT-TYPE</servlet-name>
    <url-pattern>/AniDIR/SomeDIR/SetContentType</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>ORACLE-DRIVER</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>ORACLE-URL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521/XEPDB1</param-value>
  </context-param>
  <context-param>
    <param-name>JNDI-ROOT</param-name>
    <param-value>java:comp/env</param-value>
  </context-param>
  <servlet>
    <servlet-name>SERVLET-PARAMTER</servlet-name>
    <jsp-file>/builtinobject03/Application1.jsp</jsp-file>
    <init-param>
      <param-name>SERVLET-INIT-PARAMETER</param-name>
      <param-value>서블릿 초기화 파라미터 입니다</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SERVLET-PARAMTER</servlet-name>
    <url-pattern>/builtinobject03/Application1.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PAGING-PARAMTER</servlet-name>
    <jsp-file>/bbs08/List.jsp</jsp-file>
    <init-param>
      <param-name>PAGE-SIZE</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK-PAGE</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PAGING-PARAMTER</servlet-name>
    <url-pattern>/bbs08/List.jsp</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <context-param>
    <param-name>TOKEN-NAME</param-name>
    <param-value>ICT-TOKEN</param-value>
  </context-param>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tlds/mytaglib.tld</taglib-uri>
      <taglib-location>	
				/WEB-INF/tlds/mytaglib.tld		
			</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>FileUploadController</servlet-name>
    <servlet-class>controller.FileUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadController</servlet-name>
    <url-pattern>/fileupload/upload.ict</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BASIC-GET</servlet-name>
    <servlet-class>controller.basic.GetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BASIC-GET</servlet-name>
    <url-pattern>/Basic/get.ict</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BASIC-POST</servlet-name>
    <servlet-class>controller.basic.PostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BASIC-POST</servlet-name>
    <url-pattern>/Basic/post.ict</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BothController</servlet-name>
    <servlet-class>controller.basic.BothController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BothController</servlet-name>
    <url-pattern>/Basic/both.ict</url-pattern>
  </servlet-mapping>
  <!-- 범용적인 예외처리 -->
  <!-- 방법1]에러코드로 -->
  <!--  
  <error-page>
  	<error-code>500</error-code>
  	<location>/error15/ErrorCode.jsp</location>
  </error-page> 
  -->
  <!-- 방법2]예외 클래스로 -->
  <!--  
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error15/ErrorType.jsp</location>
  </error-page>
  -->
  <welcome-file-list>
  	<welcome-file>Index.jsp</welcome-file>
    <welcome-file>HelloWorld.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>    
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
</web-app>